
.app-module-router-container {
	font-family: 'Droid Arabic Kufi', serif!important;;	
}

[class*="entity-scores-widget-group_container"]{
 margin-bottom: 10px;
 border-radius: 5px;
}
[class*="entity-scores-widget_small_view"]{
	background: aliceblue;
	border-radius: 5px;
}
